/* stylelint-disable selector-list-comma-newline-after */
#tags::placeholder{
  font-size: 90%;
}
.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
#blog-cards::-webkit-scrollbar{
  display: none;
}
#blog-cards {
  height: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@media (max-width: 344px) {
  #search-input {
    width: 40vw;
    transform: translate(5px);
    background-color: aqua;
  }
}
@media (max-width: 387px) and (min-width: 344px) {
  #search-input {
    transform: translate(5px);
    width: 150px;
  }
}
@media(min-width: 387px) {
  #search-input {
    transform: translate(5px);
    width: 50vw;
  }
}
@media (min-width: 992px) {
  #blog-cards { height: 200px; }
}
@media (min-width: 768px) and (max-width: 992px) {
  #blog-cards { 
    height: 450px;
  }
}
.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: auto; }
}
.img-thumbnail-3{
  width:100%;
}
@media(min-width: 645px){
  .img-thumbnail-3{
    width: 60%;
  }
}
@media(min-width: 888px){
  .img-thumbnail-3{
    width: 40%;
  }
}
@media (max-width: 992px){
  #img-thumbnail {
    width: 100%;
    height: auto;
  }
}
@media(min-width: 992px){
  #img-thumbnail-2,#tb-2{
    display: inline;
    visibility: visible;
  }
}
#img-thumbnail-2,#tb-2{
  display: none;
  visibility:hidden;
}
@media(max-width: 992px) and (min-width: 0px){
  #img-thumbnail,#tb-1{
    visibility: hidden;
  }
}
#img-thumbnail,#tb-1{
  visibility:visible;
}
#yt-link{
  width:50%;
  min-width: 440px;
}
@media(max-width: 500px){
  #yt-link{
    width: 100%;
    min-width:0px;
  }
}
/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
