[data-theme="dark"] {
  background-color: #111 !important;
  color: rgb(200, 200, 200);
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] #dropdown-btn{
  background-color: rgb(92, 92, 92);
  color: rgb(200, 200, 200);
}
[data-theme="dark"] #navbar-sort{
  background-color: rgb(92, 92, 92);
  color: rgb(200, 200, 200);
}
[data-theme="dark"] #dropdown-btn:hover{
  background-color: rgb(179, 179, 179);
  color: rgb(46, 46, 46);
}
[data-theme="dark"] .dropdown-item{
  color: rgb(200, 200, 200);
}
[data-theme="dark"] .dropdown-header{
  color:rgb(117, 117, 255);
}
#header-name{
  color: black;
}
[data-theme="dark"] #header-name{
  color: rgb(200, 200, 200);
}
#labeldarkMode:hover{
  background-color: rgb(168, 157, 157);
  color: rgb(59, 59, 59);
  filter: invert(100%);
}
[data-theme="dark"] #labeldarkMode:hover{
  background-color: white;
  color: black;
  filter: invert(0%);
}
#labeldarkMode{
  color: black;
  border-width: 1;
  border-color: black;
  /* filter: invert(0%); */
}
[data-theme="dark"] #labeldarkMode{
  background-color: rgb(168, 157, 157);
  color: rgb(59, 59, 59);
  filter: invert(100%);
}
[data-theme="dark"] #blog-footer{
  background-color: rgb(66, 66, 66);
}
#blog-cards{
  border-width: 1;
  border-color: rgb(200, 200, 200);
}
#blog-cards:hover{
  background-color: rgb(223, 223, 223);
  border-color: rgb(136, 136, 136);;
}
[data-theme="dark"] #blog-cards:hover{
  background-color: rgb(88, 88, 88);
  border-color: rgb(136, 136, 136);;
}
[data-theme="dark"] #blog-cards{
  color: rgb(200, 200, 200);
  background-color: rgb(66, 66, 66);
  border-color: rgb(66, 66, 66);;
}
#get-cards{
  border-width: 1;
  border-color: rgb(200, 200, 200);
}
#get-cards:hover{
  background-color: rgb(223, 223, 223);
  border-color: rgb(136, 136, 136);;
}
[data-theme="dark"] #get-cards:hover{
  background-color: rgb(88, 88, 88);
  border-color: rgb(136, 136, 136);;
}
[data-theme="dark"] #get-cards{
  color: rgb(200, 200, 200);
  background-color: rgb(66, 66, 66);
  border-color: rgb(66, 66, 66);;
}
[data-theme="dark"] #Title-blog-desc{
  color: rgb(200, 200, 200);
}
[data-theme="dark"] #search-input{
  background-color: rgb(77, 77, 77);
  color: rgb(200, 200, 200);
}
[data-theme="dark"] #search-input::placeholder{
  color: rgb(200, 200, 200);
}
[data-theme="dark"] #search-input:hover::placeholder{
  background-color: rgb(179, 179, 179);
  color: rgb(46, 46, 46);
}
[data-theme="dark"] #search-input:hover{
  background-color: rgb(179, 179, 179);
  color: rgb(46, 46, 46);
}
[data-theme="dark"] .article-input{
  background-image: none;
  background-color: rgb(77, 77, 77);
  color: rgb(200, 200, 200);
}
[data-theme="dark"] .article-input::placeholder{
  background-image: none;
  color: rgb(200, 200, 200);
  background-color: rgb(77, 77, 77);
}
[data-theme="dark"] .article-input:hover::placeholder{
  background-color: rgb(179, 179, 179);
  color: rgb(46, 46, 46);
}
[data-theme="dark"] .article-input:hover{
  background-color: rgb(179, 179, 179);
  color: rgb(46, 46, 46);
}
[data-theme="dark"] #article-input{
  background-image: none;
  background-color: rgb(77, 77, 77);
  color: rgb(200, 200, 200);
}
[data-theme="dark"] #article-input::placeholder{
  background-image: none;
  color: rgb(200, 200, 200);
  background-color: rgb(77, 77, 77);
}
[data-theme="dark"] #article-input:hover::placeholder{
  background-color: rgb(179, 179, 179);
  color: rgb(46, 46, 46);
}
[data-theme="dark"] #article-input:hover{
  background-color: rgb(179, 179, 179);
  color: rgb(46, 46, 46);
}
#search-btn{
  background-color: rgb(231, 231, 231);
}
#search-btn:hover{
  background-color: rgb(182, 169, 169);
}
[data-theme="dark"] #search-btn:hover{
  background-color: rgb(179, 179, 179);
  color: rgb(46, 46, 46);
}
[data-theme="dark"] #search-btn{
  background-color: rgb(77,77,77);
  color: rgb(200, 200, 200);
}
#navbar-tags a:hover{
  background-color: rgb(224, 224, 224);
  text-decoration-color: transparent;
}
#navbar-tags a{
  margin-left: 10px;
  background-color: rgb(230, 230, 230);
  text-decoration-color: transparent;
}
[data-theme="dark"] #navbar-tags a{
  background-color: rgb(24, 24, 24);
  text-decoration-color: transparent;
}
#navbar-tags a:hover{
  background-color: rgb(209, 209, 209);
  text-decoration-color: transparent;
}
[data-theme="dark"] #navbar-tags a:hover{
  background-color: rgb(42, 42, 42);
  text-decoration-color: transparent;
}
#navbar-sort a:hover{
  background-image: none;
  background-color: rgb(192, 192, 192);
}
[data-theme="dark"] #navbar-sort a:hover{
  background-image: none;
  background-color: rgb(66, 66, 66);
}
[data-theme="dark"] #navbar-sort:hover a{
  background-image: none;
  color: rgb(200, 200, 200);
}
